<div class="container">
    <br>
    <h3>地域一覧</h3>

    <% @area.each do |area, map| %>
    <h2><%= @japanize[area] %></h2>
        <% map.each_slice(4).to_a.each do |arr|%>
            <div class = "card-deck country-card-deck">
                <% arr.each do |country, city|%>
                    <div class="card country-card" style="width: 30%;">
                    <%= image_tag("area/Asia/Taiwan.png", :width => "100%", :class => "card-img-top", :alt => "カード画像") %>
                    <%# ↓こうやって各国の国旗を表示したいけどできないです...%>
                    <%#= image_tag("area/#{area}/#{country}.png", :width => "100%", :class => "card-img-top", :alt => "カード画像") %>
                        <div class="card-body">
                            <h4 class="card-title"><%= @japanize[country] %></h4>
                            <p class="card-text"></p>
                            <%= link_to @japanize[city], {controller: :questions, area: area, country: country, city: city}%>
                        </div>  
                    
                    </div>
                    
                <% end %>
        </div>
        <% end %>
        <br>
    <% end %>

</div>