/* common */
body {
    margin: 0px 0px;
}

/* header */
header {
    background-color: #ffc957;
}

header h1, header p{
    margin-top: 0px;  
    padding-left: 15px;
    padding-top: 0px;
}

header h1{
    padding-top: 8px;
}

header p{
    margin-bottom: 3px;
}

/* global navigation */
#gNav {
    margin-bottom: 0px;
}

#gNav ul {
    display: flex;
    padding: 3px 0px 0px 0px;
    margin-bottom: 0px;
}

#gNav li {
    /* border-top: 1px solid white; */
    /* border-left: 1px solid white; */
    /* border-bottom: 1px solid white; */
    height: 45px;
    text-align: center;
    width:25%;
}

/* #gNav li:last-child {
    border-right: 1px solid white;
} */

#gNav a {
    color: white;
    display:  block;
    font-size: 16px;
    height: 100%;
    line-height: 280%;
}

#gNav a:hover {
    color: black;
    text-decoration: none;
}

#gNav a span:hover {
    color: black;
    text-decoration: none;
}

#gNav a span {
    color: white;
    display:  block;
    font-family: arial;
    font-size: 15Spx;
}

#gNav .current-menu-item a, #gNav .current-menu-item a span {
    background-color: white;
    color:#ffc957;
}

/* footer */
footer {
    background-color: #ffc957;
    padding: 8px 0px;
}

footer div {
    text-align: center;
}

footer p {
    margin: 16px 0px;
}