<div class="img-text">
    <%= image_tag('yellow_suitcase.jpeg', :style => "width:100%") %>
    <div class="slogan"><p>そうだ、</br>海外旅行</br>しよう。</p></div>
</div>

<div id="about">
    <div class="container-fluid">
        <div style="text-align: center;">
            <h1>TABEEGO</h1>
            <h3>次の休みは、あの国へ行きたい。</br>でも現地事情が分からない...</h3>
            <br>
            <br>
            <h3>TABEEGOは、そんな旅行好きのための</br>掲示板情報共有サービスです。</h3>
        </div>
    </div>
</div>

<div id="search_by_words">
    <div class="container-fluid">

    </div>
</div>

<div id="WorldMap">
    <div class="container-fluid">

    </div>
</div>

<div id="PickUp">
    <div class="container-fluid">

    </div>
</div>