<%= image_tag('pic1.jpeg', :style => "width:100%") %>

<div id="about">
    <div class="container-fluid">
        <div style="text-align: center;">
            <h1>TABEEGO</h1>
            <h2>CONTENTS</h2>
        </div>
    </div>
</div>

<div id="search_by_words">
    <div class="container-fluid">

    </div>
</div>

<div id="WorldMap">
    <div class="container-fluid">

    </div>
</div>

<div id="PickUp">
    <div class="container-fluid">

    </div>
</div>