<% if flash[:error_message] %>
    <div><%= flash[:error_message] %></div>
<% end %>

<div class="img-text">
    <div><%= image_tag('yellow_suitcase.jpeg', :style => "width:100%") %></div>
    <div class="slogan">
        <p>そうだ、</p>
        <p>海外旅行</p>
        <p>しよう</p>
    </div>
</div>

<div id="about">
    <div class="container-fluid">
        <div>
            <h1 class="page-header">TABEEGO</h1>
            <h3>次の休みは、あの国へ行きたい。</br>でも現地事情が分からない...</h3>
        </div>
        <div style="margin-top:40px">
            <h3>TABEEGOは、そんな旅行好きのための</br>掲示板情報共有サービスです。</h3>
        </div>
    </div>
</div>

<div id="search_by_words">
    <div class="container-fluid">

    </div>
</div>

<div id="WorldMap">
    <h2 class="page-header"><a href = "/area/">地域を選ぶ</a></h2>
    <div class="container-fluid">

    </div>
</div>

<div id="PickUp">
    <div class="container-fluid">

    </div>
</div>